<body>
  <div class="navbar fixed-top">
    <button class="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
      <mat-icon aria-label="Side nav toggle icon">  <fa-icon icon="bars" style="font-size:30px;"></fa-icon></mat-icon>
    </button>
  </div>

  <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer mode="visibility">
        <mat-nav-list>  
          <div class="main"> 
          <button class="btn" 
                  mat-list-item routerLink='/main/listsalesman' 
                  (click)="drawer.toggle()">
                  <img src="https://img.icons8.com/material-rounded/26/000000/list.png"><b> List Salesman</b>
          </button>
          <button class="btn" 
                  mat-list-item routerLink='/main/map' 
                  (click)="drawer.toggle()">
                  <img src="https://img.icons8.com/ios-filled/26/000000/google-maps.png"><b> Location</b>
          </button>
          <button class="btn" 
                  mat-list-item routerLink='/login' 
                  (click)="drawer.toggle()">
                  <img src="https://img.icons8.com/metro/26/000000/export.png"><b> Logout</b>
          </button> 
        </div> 
        </mat-nav-list>
      </mat-sidenav>
      
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </body>