.main{
  margin-top: 70px;
  background-color: #F9F9F9;
}
.listsalesman-filter{
  padding: 0px 2px;
  vertical-align: middle;
  margin-bottom: -3px;
}
.listsalesman-filter-button{
  height: 38px;
  text-align: center;
}
#kanan{
  text-align: right;
}
.col-6{
  margin-top: -20px;
  margin-bottom: -10px;
}
#lebar{
  width: 140px;
}
.example-container {
  overflow: auto;
}
.mat-header-cell{
  text-align: center;
}
table {
  width: 800px;
}
#colCode{
  width: 40px;
}
#colLeft{
  width:160px;
}
#colCent{
  text-align: center;
}
#colRight{
  text-align: right;
}
// mat-form-field {
//   margin-left: 19px;
//   width:134px;
//   text-align: center;
//   margin-bottom:-25px;
// }

//list Card View
// .card{
//   background-color: whitesmoke;
//   font-size: 10px;
//   //cursor: pointer;
//   margin: -9px;
// }
// .card-body {
//   -webkit-box-flex: 1;
//   -ms-flex: 1 1 auto;
//   flex: 1 1 auto;
//   padding: 0.25rem;
//   margin-top: -12px;
//   margin-bottom: -4px;
// }
// #Amount{
//   text-align: center;
//   margin-bottom: 8px;
//   margin-top: 8px;
// }
// #Icon{
//   text-align: center;
//   margin-top: -5px;
// }
// #bawah{
//   text-align: right;
//   font-size: 10pt;
//   margin-top: -15px;
//   margin-bottom: 2px;
// }
// #left{
//   text-align: left;
//   margin-left: 6px;
//   margin-top: -8px;
//   font-size: 12px;
// }
// #right{
//   text-align: right;
//   margin-right: 6px;
//   margin-top: -8px;
//   font-size: 12px;
// }


