.container-login{
  padding: 40px;
  margin: 50px;
  border-radius: 20px;
  border: 1px solid black;
}
.myRed{
  color: red;
}
.form-check{
  font-size: 14px;
  text-align: left;
}
// .container{
//   width: 350px;
//   height: 349px;
//   background-color: #E1E1E1;
//   position: absolute;
//   top: 150px;
//   left: calc((100% - 350px)/2);
//   border-top: 5px solid #FFFFFF;
//   border-bottom: 5px solid #FFFFFF;
//   box-shadow: 4px 4px 0.5px 0.5px #00000080;
//  }
//  .user{
//   position: relative;
//   width: 150px;
//   height: 150px;
//   border-radius: 100%;
//   background-color: #E1E1E1;
//   left: calc((100% - 150px)/2);
//   top: -75px;
//   margin: 0;
//  }

//  .dalam{
//   position: relative;
//   width: 120px;
//   height: 120px;
//   border-radius: 100%;
//   background-color: #000;
//   left: calc((100% - 120px)/2);
//   top: calc((100% - 120px)/2);
//   margin: 0;
//  }
//  .menuitem{
//   padding: 0px;
//   margin:24px;
//   color: white;
//   width: 100px;
//   height: 100px;
//   font-size: 76px;
//  }
// .form[method=post]{
//   position: absolute;
//   text-align: center;
// }

// input[type=text] {
//   margin: -62px auto;
//   width: 80%;
//   padding: 10px;
//   border:1px solid #ccc;
//   border-radius: 27px;
//   position:absolute;
//   right:32px;
// }

// input[type=password]{
//   margin: -30px auto;
//   width: 80%;
//   padding: 10px;
//   border:1px solid #ccc;
//   border-radius: 27px;
//   position:absolute;
//   right:32px;
// }

// input[type=checkbox] {
//   margin : 8px auto;
//   width: 57.5px;
//   right: 33px;
// }
// input[type=submit] {
//   margin : 58px auto;
//   float: right;
//   padding: 5px;
//   width: 90px;
//   border: 1px solid #fff;
//   color: whitesmoke;
//   background: rgb(0, 174, 255);
//   cursor: pointer;
//   border-radius: 27px;
//   position: absolute;
//   right:122px;

// }

// .has-error input[type="email"]{
//   border-color: rgb(216, 12, 12);
//     color: rgb(230, 14, 14);
// }

// .has-error input[type="password"] {
//     border-color: rgb(216, 12, 12);
//     color: rgb(230, 14, 14);
// }